{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ventes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Postalcodeid</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td><a href="{{ path('vente_show', { 'id': vente.id }) }}">{{ vente.id }}</a></td>
                <td>{{ vente.postalCodeId }}</td>
                <td>{{ vente.amount }}</td>
                <td>{% if vente.date %}{{ vente.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vente_show', { 'id': vente.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
