{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Postalcodeid</th>
                <td>{{ vente.postalCodeId }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ vente.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if vente.date %}{{ vente.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vente_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
